body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Stops scrolling */
  font-family: sans-serif;
}

.content-layer {
  position: relative;
  z-index: 20;
  /* Above petals and background */
  color: white;
  text-align: center;
  top: 40vh;
  /* Push text down */
}

h1 {
  font-size: 5rem;
  margin: 0;
  text-shadow: 0 0 20px black;
}

.enter-btn {
  margin-top: 20px;
  padding: 15px 40px;
  background: transparent;
  border: 2px solid #c92a2a;
  color: #c92a2a;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.enter-btn:hover {
  background: #c92a2a;
  color: white;
  box-shadow: 0 0 20px #c92a2a;
}